.item_buypage

  .item_top
    .item_toplogo
      = link_to "/", class:"top_item" do
        = image_tag 'logos/logo.png', class: 'picture'

  .main_item
    .main_itempage
      .main_itempage1
        .item
          購入内容の確認
      .main_itempage2
        .main_itempage2_picture
          = image_tag 'logos/watch.png', class: 'watch'
          .main_itempage2_item
            高級腕時計</p>
            %span ¥300,000 (税込)送料込み
      .main_itempage3
        .main_itempage3_money
          支払い金額
          %span.money ¥300,000
        .main_itempage3_box
          = check_box_tag :point_check
          = label_tag :point, "ポイントを使用(所持ポイント:0pt)"
      .main_itempage4
        .main_itempage4_box
          .main_itempage4_text
            支払い方法</p>
          .main_itempage4_button
            = link_to '変更する', class: 'edit'
        .main_itempage4_card
          クレジットカード</p>
          ************3432</p>
          有効期限06/21
        .main_itempage4_visa
          = image_tag 'logos/logo_visa.gif', class: 'visa_logo'
      .main_itempage5
        .main_itempage5_address
          配送先</p>
          %span.address
            〒503-0805</p>
            岐阜県大垣市鶴見町55番地2</p>
            川瀬洋平
        .main_itempage5_button
          =link_to '変更する', class: 'edit2'
      .main_itempage6
        .main_itempage6_button
          = link_to '購入する', class: 'buy-button'

    .footer_item
      = render "users/footer"