= render "users/header"
.item__buypage
  .main__item
    .main__item__page
      .main__item__page__1
        .main__item__page__1__item
          購入内容の確認
      .main__item__page__2
        .main__item__page__2__picture
          = image_tag @product.images.first.src.url, class: 'watch'
          .main__item__page__2__picture__item
            =@product.title
            %br/
            =@product.price 
            (税込)送料込み
      .main__item__page__3
        .main__item__page__3__money
          支払い金額
          %span.money=@product.price 
        .main__item__page__3__box
          = check_box_tag :point_check
          = label_tag :point, "ポイントを使用(所持ポイント:0pt)"
      .main__item__page__4
        .main__item__page__4__box
          .main__item__page__4__box__text
            支払い方法</p>
          .main__item__page__4__box__button
            = link_to '変更する', class: 'edit'
        .main__item__page__4__card
          クレジットカード</p>
          ************3432</p>
          有効期限06/21
        .main__item__page__4__visa
          = image_tag 'logos/logo_visa.gif', class: 'visa_logo'
      .main__item__page__5
        .main__item__page__5__address
          配送先</p>
          %span.address
            〒503-0805</p>
            岐阜県大垣市鶴見町55番地2</p>
            川瀬洋平
        .main__item__page__5__button
          =link_to '変更する', class: 'edit2'
      .main__item__page__6
        .main__item__page__6__button
          = link_to '購入する',root_path, class: 'buy-button'

  .footer_item
= render "users/footer"