= render "users/top"
%main
  %section.container
    %h2.container__message 新規会員登録
    .container__main
      .account-page__inner--right.user-form
        = form_for(resource, as: resource_name, url: 'create_listingpage' do |f|
          = render "devise/shared/error_messages", resource: @user
          .field
            = f.label :nickname,"ニックネーム"
            %br/
            = f.text_field :nickname
          .field
            = f.label :email,"メールアドレス"
            %br/
            = f.text_field :email, :placeholder => "（例）〇〇〇＠XXX"
          .field
            = f.label :password,"パスワード"
            - if @minimum_password_length
              %em
                (#{@minimum_password_length} characters minimum)
            %br/
            = f.password_field :password, autocomplete: "new-password"
          .field
            = f.label :password_confirmation,"確認用パスワード"
            %br/
            = f.password_field :password_confirmation, autocomplete: "new-password"
          .field
            = f.label :family_name_kanji,"姓（漢字）"
            %br/
            = f.text_field :family_name_kanji
          .field
            = f.label :last_name_kanji,"名（漢字）"
            %br/
            = f.text_field :last_name_kanji
          .field
            = f.label :family_name_kana,"姓（カタカナ全角）"
            %br/
            = f.text_field :family_name_kana
          .field
            = f.label :last_name_kana,"名（カタカナ全角）"
            %br/
            = f.text_field :last_name_kana
          .field
            = f.label :birthday,"生年月日"
            %br/
            = f.text_field :birthday, :placeholder => "（例：1990年05月20日は19900520と記入）"
          .actions
            = f.submit "次へ"
        = render "devise/shared/links"

= render "users/footer"