.header
  .header__logo
    = link_to "/", class:"top" do
      = image_tag 'logos/logo.png', class: 'picture'
    %form.search_bar
      %input{type: "text", class: 'input_box', placeholder: 'キーワードから探す'}
    %button{class: "HamlBtn", type: "submit"}
      =fa_icon 'search', class: 'icon'
    %ul.one
      %li.list_man
        = link_to 'カテゴリー', class: 'categories'
      %li.list_men
      = link_to 'ブランド', class: 'brand'
      %li.login
        - if user_signed_in?
          = link_to "ログアウト", destroy_user_session_path, method: :delete
        - else
          = link_to "新規登録", new_user_registration_path
          = link_to "ログイン", new_user_session_path

