.header
  .header__second
    .header__third
      .inner
        =link_to "#" do
          = image_tag 'logos/logo.png', class: 'picture'
      %form.search_bar
        %input{type: "text", class: 'input_box', placeholder: 'キーワードから探す'}
        %button{class: "HamlBtn", type: "submit"}
          =fa_icon 'search', class: 'icon'
    .nav-bar
      %ul.left
        %li.list_man
          = link_to 'カテゴリー', class: 'categories'
        %li.list_men
          = link_to 'ブランド', class: 'brand'
      %ul.right
        %li.nets
          = link_to 'ログイン', class: 'news'
        %li.bucks
          = link_to '新規会員登録', class: 'logins'
.menu_bar
  %ul.three
    %li.thing
      = link_to 'メルカリ', '#'
      =fa_icon 'greater-than', class:'mark'
    %li.four マイページ
.main
  .main__left
    .main__left2
      %ul.setting
        %li= link_to 'マイページ', '#'
        %li= link_to 'お知らせ', '#'
        %li= link_to 'やることリスト', '#'
        %li= link_to 'いいね！一覧', '#'
        %li= link_to '出品する', '#'
        %li= link_to '出品した商品 - 出品中', '#'
        %li= link_to '出品した商品 - 取引中', '#'
        %li= link_to '出品した商品 - 売却済み', '#'
        %li= link_to '購入した商品 - 取引中', '#'
        %li= link_to '購入した商品 - 過去の取引', '#'
        %li= link_to 'ニュース一覧', '#'
        %li= link_to '評価一覧', '#'
        %li= link_to 'ガイド', '#'
        %li= link_to 'お問い合わせ', '#', class:'got'
        %h3.topic メルペイ
      %ul.setted
        %li= link_to '残高・振り込み申請','#'
        %li= link_to 'ポイント', '#',class: 'get'
        %h3.setting 設定
      %ul.set
        %li= link_to 'プロフィール','#'
        %li= link_to '発送元・お届け先住所変更','#'
        %li= link_to '支払い方法','#'
        %li= link_to 'メール/パスワード','#'
        %li= link_to '本人情報','#'
        %li= link_to '電話番号の確認','#'
        %li= link_to 'ログアウト','#', class: 'git'
  .main__right
    %section.into_box
      = link_to "http://www.google.co.jp" do
        = image_tag 'logos/donald.jpeg', class: 'person'
        %h2.my_name tech
        .longer
          .evaluation 評価
          %span.number 44
          .count 出品数
          %span.number2 38
    .covers
      %ul.tab.clearfix
        %li.active
          %h3.left_tab= link_to 'お知らせ'
        %li.todo
          %h3.right_tab= link_to 'やることリスト'
-# .furima6
-#   =image_tag 'logos/picture3.jpg', class: 'picture3'
-#   .furima6-copy
-#     だれでもかんたん、人生を変えるフリマアプリ
-#   .furima6-copy2
-#     今すぐ無料ダウンロード！
-#     .furima6-download
-#       = link_to "http://www.google.co.jp", class:"apple__btn" do
-#         = image_tag 'logos/applelogo.png', class: 'applelogo3'
-#       = link_to "http://www.google.co.jp", class:"google__btn" do
-#         = image_tag 'logos/googlelogo.png', class: 'googlelogo3'