%body
= render 'header'
.menu_bar
  %ul.three
    %li.thing
      = link_to 'メルカリ', '#'
      =fa_icon 'greater-than', class:'mark'
    %li.four マイページ
.main2
  .main__left
    .main__left2
      %ul.setting
        %li= link_to 'マイページ', '#'
        %li= link_to 'お知らせ', '#'
        %li= link_to 'やることリスト', '#'
        %li= link_to 'いいね！一覧', '#'
        %li= link_to '出品する', '#'
        %li= link_to '出品した商品 - 出品中', '#'
        %li= link_to '出品した商品 - 取引中', '#'
        %li= link_to '出品した商品 - 売却済み', '#'
        %li= link_to '購入した商品 - 取引中', '#'
        %li= link_to '購入した商品 - 過去の取引', '#'
        %li= link_to 'ニュース一覧', '#'
        %li= link_to '評価一覧', '#'
        %li= link_to 'ガイド', '#'
        %li= link_to 'お問い合わせ', '#', class:'got'
        %h3.topic メルペイ
      %ul.setted
        %li= link_to '残高・振り込み申請','#'
        %li= link_to 'ポイント', '#',class: 'get'
        %h3.setting 設定
      %ul.set
        %li= link_to 'プロフィール','#'
        %li= link_to '発送元・お届け先住所変更','#'
        %li= link_to '支払い方法','#'
        %li= link_to 'メール/パスワード','#'
        %li= link_to '本人情報','#'
        %li= link_to '電話番号の確認','#'
        %li= link_to 'ログアウト','#', class: 'git'
  .main__right
    %section.into_box
      = link_to "http://www.google.co.jp" do
        = image_tag 'logos/donald.jpeg', class: 'person'
        %h2.my_name tech
        .longer
          .evaluation 評価
          %span.number 44
          .count 出品数
          %span.number2 38
    %section.covers
      %ul.tab
        %li.active
          %h3.left_tab= link_to 'お知らせ'
        %li.todo
          %h3.right_tab= link_to 'やることリスト'
      .tab_content
        %ul.tab_menu.active
          %li
            = link_to "http://www.google.co.jp" do
              %figure.tom
                = image_tag 'logos/LtXe7958_400x400.jpeg', class: 'others'
              .ground
                .in_content ヒロさん、他１２名が「ドラゴンボール」にいいねしました
                %time
                  =fa_icon 'clock', class: 'hours'
                  %span.timer 10時間前
          %li
            = link_to "http://www.google.co.jp" do
              %figure.tom
                = image_tag 'logos/LtXe7958_400x400.jpeg', class: 'others'
              .ground
                .in_content ヒロさん、他１２名が「ドラゴンボール」にいいねしました
                %time 
                  =fa_icon 'clock', class: 'hours'
                  %span.timer 10時間前
          %li
            = link_to "http://www.google.co.jp" do
              %figure.tom
                = image_tag 'logos/LtXe7958_400x400.jpeg', class: 'others'
              .ground
                .in_content ヒロさん、他１２名が「ドラゴンボール」にいいねしました
                %time 
                  =fa_icon 'clock', class: 'hours'
                  %span.timer 10時間前
          %li.last_tab
            = link_to "一覧を見る" 
    %section.bottom_tab
      %h2.bought 購入した商品
      %ul.deals
        %li.activo 
          %h3.deal=link_to '取引中' 
        %li.vel
          %h3.ago=link_to '過去の取引'
      .bomber  
        %ul.lister
          %li.buy_one
            = link_to "http://www.google.co.jp" do
              %figure.user_inner
                = image_tag 'logos/LtXe7958_400x400.jpeg', class: 'user_image'
              .ground
                .in_content 「ドラゴンボール」を購入しました。受取評価をしました。
                .out_content 評価待ち
          %li.last_one
            = link_to "一覧を見る" 
            
.footer
  %ul.contents
    %li.content
      %h2.content__head FURIMAについて
      %ul.content__main
        %li
          =link_to "会社概要（運営会社）"
        %li
          =link_to "プライバシーポリシー"
        %li
          =link_to "FURIMA利用規約"
        %li
          =link_to "ポイントに関する特約"
    %li.content
      %h2.content__head FURIMAを見る
      %ul.content__main
        %li
          =link_to "カテゴリー一覧"
        %li
          =link_to "ブランド一覧"
    %li.content
      %h2.content__head ヘルプ＆ガイド
      %ul.content__main
        %li
          =link_to "FURIMAガイド"
        %li
          =link_to "FURIMAロゴ利用ガイドライン"
        %li
          =link_to "お知らせ"
  .footer__logo
    = link_to "/", class:"top" do
      =image_tag 'logos/logo-white.png'
  %p © FURIMA