%body
.header-lologos
  = image_tag 'logos/logo.png', class: 'picture'
.main
  .main-page__01
    .main-page
      .main-page__box 
        .main-page__box2 
          出品画像 
          %span 必須
          .main-page__box3
            最大10枚までアップロード出来ます
          .main-page__box4
            = image_tag 'logos/kameralogo.png', class: 'picture'
            %p ドラッグアンドドロップ
            %p またはクリックしてファイルをアップロード
          %h 画像がありません

  .main-page__02
    .name__box
      .name__box2
        商品名
        %span 必須  
    .forty__box
      %h 40文字まで
      .readme__box
        .readme__box2
          商品の説明
          %span 必須
    .readmebig__box
      商品の説明（必須  1,000文字以内）
      %p （色、素材、重さ、定価、注意点など）
      例）2010年頃1万円で購入したジャケットです。ライトグレーで傷はありませありませ
      ん。あわせやすいのでおすすめです。
  .main-page__03
    .detail__box
      商品の詳細
    .category__box
      .category__name
        %h カテゴリー
        %span 必須
      .category__box2
        選択してください
        .arrow
    .brand__box
      .brand__name
        %h ブランド
        %span 任意
      .brand__box2
        例）シャネル
    .statu__box
      .statu__name
        %h 商品の状態
        %span 必須
      .statu__box2
        選択してください
        .arrow
  .main-page__04
    .delivery__box
    .delivery__name
      配送について
      = image_tag 'logos/quest.png', class: 'picture'
    .bear__box
      %h 配送料の負担
      %span 必須
    .bear__box2
      %h 選択してください
      .arrow
    .shipping__area
      %h 発送元の地域
      %span 必須
    .area__box
      %h 選択してください
      .arrow
    .shippinng__day
      %h 発送までの日数
      %span 必須
    .day__box
      %h 選択してください
      .arrow
  .main-page__05
    .price
      %h 価格 (￥300~9,999,999)
      = image_tag 'logos/quest.png', class: 'picture'
    .buy__box
      .buy__box2
        .buy__box3
          .buy__box4
            %h2 販売価格
          .buy__box5
            必須
      .buy__box6
        %h2 ¥
      .buy__box7
    .fees__box
      .fees__box2
        %h 販売手数料（10%)
      .fees__box3
        ー
  .main-page__06
    .gain__box
      .gain__box2
        %h 販売利益
      .gain__box3
        ー
  .main-page__07
    .button__box
      = link_to "http//www.google.co.jp", class:"action" do
        %p 出品する
    .button__box2
      = link_to "http//www.google.co.jp", class:"action" do
        %p1 下書きに保存
    .return__box
      = link_to "http//www.google.co.jp", class:"action" do
        %p2 もどる
    
