= render "users/top"
.product_main
  %h1 product3
  %ul
    %li 
      = image_tag 'logos/main_image.png', alt: '魚', class: 'test'
  %ul.list_image
    %li
      = image_tag 'logos/list_01.png', alt: '魚', class: 'list'
    %li
      = image_tag 'logos/list_02.png', alt: '魚', class: 'list'
    %li
      = image_tag 'logos/list_03.png', alt: '魚', class: 'list'




  .test_test1
    .price ¥30000
    %p.tax  (税込) 送料込み
  - if user_signed_in? 
    .purchase
      = link_to '購入ページ','#'
    .purchase_0
      = link_to '編集','1/edit', method: :get
    .purchase_1 
      %p  削除 
  - elsif user_signed_in? && current_user.id ==@product.user_id

    %p.setumei 親譲りの無鉄砲で小供の時から損ばかりしている。小学校に居る時分学校の二階から飛び降りて一週間ほど腰を抜かした事がある。なぜそんな無闇をしたと聞く人があるかも知れぬ。別段深い理由でもない。新築の二階から首を出していたら、同級生の一人が冗談に、いくら威張っても、そこから飛び降りる事は出来まい。弱虫やーい。と囃したからである。小使に負ぶさって帰って来た時、おやじが大きな眼をして二階ぐらいから飛び降りて腰
  .name さんま
  %table
    %tr
      %td.one 出品
      %td hoge
    %tr
      %td.one カテゴリー
      %td 
        = link_to(content_tag(:i, 'ベビー・キッズ', class: 'kategori'))
        %br/
        = link_to(content_tag(:i, 'ベビー服(男女兼用) ~95cm', class: 'kategori'))
        %br/
        = link_to(content_tag(:i, 'アウター', class: 'kategori'))
    %tr
      %td.one ブランド
      %td 
    %tr
      %td.one 商品のサイズ	
      %td
    %tr
      %td.one 商品の状態		
      %td 未使用に近い
    %tr
      %td.one 配送料の負担		
      %td 送料込み（出品者負担）
    %tr
      %td.one 発送元の地域		
      %td 	
        = link_to(content_tag(:i, '岩手県', class: 'categories'))
    %tr
      %td.one 発送日の目安			
      %td 4-7日で発送
  .contents
    %ul
      %li.left 
        %i.fa.fa-star
        お気に入り0 
    %ul
      %li.right
        = link_to(content_tag(:i, ' 不適切な商品の通報', class: 'fa fa-flag'))



.product_from
  %textarea.message
  %p.meassage_inner
    相手のことを考え丁寧なコメントを心がけましょう。
    %br/
    不快な言葉遣いなどは利用制限や退会処分となることがあります。
  %button
    %i.fa.fa-comment
    コメント

%ul.product_list
  %li
    = link_to(content_tag(:i, ' 前の商品', class: 'fa fa-angle-left'))
  %li
    = link_to(content_tag(:i, ' 後ろの商品 ', class: 'fa fa-angle-right'))
.other
  = link_to(content_tag(:i, ' ベビー・キッズをもっと見る'))
    
= render "users/footer

.destroy
  .destroy__item
    .destroy__item__main
      .destroy__item__main__verification 確認
      削除すると二度と復活できません。
      %br 削除する代わりに停止することもできます。
      %br 本当に削除しますか？
    .destroy__item__footer
      .destroy__item__footer__cancel キャンセル
      = link_to "削除","/product/#{@Product.id}",method: :DELETE, class: 'destroy__item__footer__delete'

