%header
  .header__logo
    = image_tag 'logos/logo.png',class:'logo-size'
%main
  %section.container
    %h2.container__message ログイン
    .container__main
      = link_to "sign_in",class: "contents__btn contents__btn--e-mail" do
        = icon('far fa-envelope', class: "contents__btn--icon")
        %span<>
        メールアドレスで登録する
      = link_to "https://www.facebook.com/", class: "contents__btn contents__btn--facebook" do
        = icon('fab', 'facebook-square',  class: "contents__btn--icon")
        %span<>
        Facebookで登録する
      = link_to "https://twitter.com/", class: "contents__btn contents__btn--twitter" do
        = icon('fab', 'twitter', class: "contents__btn--icon")
        %span<>
        Twitterで登録する
      = link_to "https://www.instagram.com/", class: "contents__btn contents__btn--instagram" do
        = icon('fab', 'instagram', class: "contents__btn--icon")
        %span<>
        Instagramで登録する
      .account-page__inner--right.user-form
        = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
          .field
            .field-label
              = f.label :email
            .field-input
              = f.email_field :email, autofocus: true
            .field
              .field-label
                = f.label :password
                %i (英数字8文字以上)
              .field-input
                = f.password_field :password, autocomplete: "off"
          .actions
            = f.submit "Log in", class: 'btn'

= render "users/footer_furima" 