-# %h1 New product

-# = render 'form'

-# = link_to 'Back', products_path


.listingpage-main
  -# .head
  -#   %h2 商品の情報を入力
  = form_with model: @product, class: "form", id: "product-form" do |f|
    .form-image
      .form-image__title
        %label 出品画像
        %span 必須
        .form-image__text 最大10枚までアップロードできます
        = f.fields_for :images do |image|
          .clearfix
            // 写真のプレビューとインプットボタンのul
            %ul#previews
              %li.input
                // 画像を取り込むインプットボタン
                %label.upload-label
                  %i.fas.fa-camera.upload-label__icon
              .upload-label__text
                ドラッグアンドドロップ
                %br
                またはクリックしてファイルをアップロード
                .input-area
                  = image.file_field :name, class: "hidden image_upload"

= render 'form'

= link_to 'Back', products_path